<!-- Photo Section -->  
<div id="photo" class="container-fluid text-center bg-light">  
    <h2>Photo Section</h2><br>  
    <h4>Memories Captured</h4>  
    <div class="photo-gallery">  
      <!-- Gallery Item -->  
      <div class="photo-item">  
        <img id="first-photo" src="img/my_image.jpg" alt="Sunset">  
        <div class="photo-overlay">  
          <p>My ID photo</p>  
        </div>  
      </div>  
      <div class="photo-item">  
        <img src="img/my_image2.jpg" alt="Mountain">  
        <div class="photo-overlay">  
          <p>My childhood</p>  
        </div>  
      </div>  
      <div class="photo-item">  
        <img src="img/my_image3.jpg" alt="Ocean">  
        <div class="photo-overlay">  
          <p>My hobby</p>  
        </div>  
      </div>  
      <div class="photo-item">  
        <img src="img/my_image4.jpg" alt="Forest">  
        <div class="photo-overlay">  
          <p>My favorite</p>  
        </div>  
      </div>  
    </div>  
  </div>  
</div>